<!-- log_analysis.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Analysis</title>
</head>
<body>
    <h1>Log Analysis</h1>
    <form action="/log_analysis" method="POST">
        <div>
            <label>环境:</label>
            <div class="log-option">
                <label><input type="radio" id="dev" name="environment" value="dev" {{ "checked" if environment == 'dev' else '' }}>dev</label>
                <label><input type="radio" id="test" name="environment" value="test" {{ 'checked' if environment == 'test' else '' }}>test</label>
                <label><input type="radio" id="sim" name="environment" value="sim" {{ 'checked' if environment == 'sim' else '' }}>sim</label>
                <label><input type="radio" id="service" name="environment" value="service" {{ 'checked' if environment == 'service' else '' }}>service</label>
            </div>
        </div>
        <div>
            <label>服务类型:</label>
            <div class="log-option">
                <label><input type="radio" id="dm" name="service_type" value="dm" {{ 'checked' if service_type == 'dm' else '' }}>dm</label>
                <label><input type="radio" id="nlu" name="service_type" value="nlu" {{ 'checked' if service_type == 'nlu' else '' }}>nlu</label>
                <label><input type="radio" id="template" name="service_type" value="template" {{ 'checked' if service_type == 'template' else '' }}>template</label>
                <label><input type="radio" id="extract_log" name="service_type" value="extract_log" {{ 'checked' if service_type == 'extract_log' else '' }}>extract_log</label>
            </div>
        </div>
        <div>
            <label>入口设备:</label>
            <div class="log-option">
                <label><input type="radio" id="Television" name="device" value="Television" {{ 'checked' if device == 'Television' else '' }}>Television</label>
                <label><input type="radio" id="X20" name="device" value="X20" {{ 'checked' if device == 'X20' else '' }}>X20</label>
                <label><input type="radio" id="VoicePanel" name="device" value="VoicePanel" {{ 'checked' if device == 'VoicePanel' else '' }}>VoicePanel</label>
            </div>
        </div>
        <div>
            <label>请输入用户query/sn:</label>
            <input type="text" id="user_query" name="user_query" style="width: 500px" value={{ user_query }}>
        </div>
        <div>
            <label>日志类型：</label>
            <div>
                <label><input type="checkbox" id="block_info" name="log_option" value="block_info" {{ 'checked' if block_info else '' }}>block_info</label>
                <label><input type="checkbox" id="tpl_match" name="log_option" value="tpl_match" {{ 'checked' if tpl_match else '' }}>tpl_match</label>
                <label><input type="checkbox" id="do_nlu" name="log_option" value="do_nlu" {{ 'checked' if do_nlu else '' }}>do_nlu</label>
                <label><input type="checkbox" id="log_trace" name="log_option" value="log_trace" {{ 'checked' if log_trace else '' }}>log_trace</label>
                <label><input type="checkbox" id="doNlpAnalysis" name="log_option" value="doNlpAnalysis" {{ 'checked' if doNlpAnalysis else '' }}>doNlpAnalysis</label>
            </div>
        </div>


        <div>
            <button type="submit" name="action" value="test">测试</button>
            <button type="submit" name="action" value="bug">bug复现</button>
        </div>

        <div>
            <label><textarea rows="40" cols="80" readonly>{{ log_output }}</textarea></label>
        </div>
    </form>
</body>
</html>
